name: Create torrent
on:
  push:
    branches:
      - master
      
env:
  name: "com.feralinteractive.companyofheroes_android"
  comment: "com.feralinteractive.companyofheroes_android"
  url: "https://drive.usercontent.google.com/download?id=1Vd-jQAeouT-9IToyLlF27sXgp23WEpWH&export=download&confirm=t&uuid=afa1111f-8611-473b-b36e-6c2adecec718"
  file_name: "com.feralinteractive.companyofheroes_android.zip"
  piece_size: 22 # Check the README.md for recommended piece size
      
jobs:
  create:
    runs-on: ubuntu-20.04
    steps:
      - name: Install mktorrent
        run: sudo apt-get install mktorrent
        
      - name: Download file
        run: wget -nv -O "$file_name" "$url"
        
      - name: Create torrent using mktorrent
        run: mktorrent -c "$comment" -l $piece_size -o "${name}.torrent" -w "$url" "$file_name"
        
      - name: Upload torrent file
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.name }}
          path: ${{ env.name }}.torrent
